@import 'variables';

.footer-wrapper{
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  &__item {
    flex: 0 0 20%;
    &_bordered {
      flex: 0 0 40%;
      padding-top: 10px;
      min-height: 20px;
      border-top: 1px solid $dark;
    }
  }
  &__logo {
    width: 110px;
  }
}

