@import 'variables';
@import 'fonts.css';
@import 'grid.css';
@import 'helpers.css';
@import 'menu.css';
@import 'footer.css';

body {
  @include font-light;
  font-size: 16px;
  margin: 0;
}

.main {
  padding-top: 70px;
}

.program {
  margin-top: 38px;
  &__item {
    display: flex;
    line-height: 35px;
  }
  &__title {
    @include font-bold;
    min-width: 150px;
  }
  &__description {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        position: relative;
        &:before {
          color: $second-base-color;
          content: "\2022";
          left: -1.1225em;
          position: absolute;
        }
      }
    }
  }
}

.intro {
  background: url(/images/AA.jpg) no-repeat center right;
  min-height: 640px;
  h1 {
    @include font-bold;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 115px;
  }

  .btn-intro {
    @include font-bold;
    text-decoration: none;
    border-radius: 50px;
    color: $second-base-color;
    border: 2px solid;
    padding: 15px 40px;
    display: inline-block;
    margin-top: 40px;
    &:hover {
      color: $base-color;
      background: $second-base-color;
    }
  }
}

.info-p {
	color: $light-font-color;
	font-weight: 400;
	font-size: 22px;
	font-style: italic;
}

.section-bg {
  @include main-padding;
  background: $first-color;
}

.section-second {
  @include main-padding;
}

.section-bg-second {
  background-color: $second-bg-color;
  background-size: cover;
  @include main-padding;
}

.registration-title {
  color: $base-color;
  font-size: 28px;
  font-weight: 700;
}

.registration-text {
  color: $base-color;
}

.registration-btn-container {
  display: flex;
  align-items: center;
}

.registration-btn {
  font-family: montserrat,sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  margin: 10px;
  border: 3px solid $base-color;
  color: $base-color;
  text-decoration: none;
}

.price {
  .card {
    background: $base-color;
    margin: 0 35px;
    padding: 50px 60px;
    h3 {
      font-size: 64px;
      margin-bottom: 0;
      color: #535074;
      font-family: montserrat,sans-serif;
      font-weight: 400;
      margin: 0 0 20px;
      padding: 0;
      .currency {
        font-size: 30px;
      }
      .period {
        font-size: 25px;
        color: $second-color;
      }
    }
  }
}

