@import 'variables';
@import 'fonts.css';
@import 'grid.css';
@import 'helpers.css';
@import 'menu.css';
@import 'video_popup.css';
@import 'footer.css';

body {
  @include font-light;
  font-size: 16px;
  margin: 0;
}

h1 {
  @include font-bold;
  font-size: 60px;
}

h2 {
  @include font-bold;
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

strong {
  @include font-bold;
}

a {
  text-decoration: none;
  color: $second-base-color;
}

.main {
  padding-top: 70px;
}

.map-border {
  border: 1px solid $second-base-color;
}

.phone {
  &__number {
    @include font-bold;
    @include icon;
    color: $second-base-color;
    &:before {
      background-image: url('/images/phone.svg');
    }
  }
  &__description {
    @include font-bold;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.1em;
  }
}

.program {
  margin-top: 38px;
  &__item {
    display: flex;
    line-height: 35px;
  }
  &__title {
    @include font-bold;
    min-width: 150px;
  }
  &__description {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        position: relative;
        &:before {
          color: $second-base-color;
          content: "\2022";
          left: -1.1225em;
          position: absolute;
        }
      }
    }
  }
}

.intro {
  .container {
    min-height: 640px;
    background: url(/images/AA.jpg) no-repeat center right;
  }
  h1 {
    margin-bottom: 0px;
    margin-top: 115px;
  }
  .intro-btns {
    &__wrapper {
      margin-top: 40px;
      display: flex;
    }
    .btn {
      border-radius: 50px;
      color: $second-base-color;
      border: 2px solid;
      display: inline-block;
      margin-right: 15px;
    }
    .btn-intro {
      @include font-bold;
      text-decoration: none;
      padding: 16px 40px;
      &:hover {
        color: $base-color;
        background: $second-base-color;
        transition: all 0.5s;
      }
    }
    .btn-video {
      border-radius: 50%;
    }
    svg#play {
      width:53px;
      display:block;
      cursor: pointer;
      transform-origin: 50% 50%;
      border-radius: 50%;
    }
    svg#play #triangle {
      fill:rgba(22,22,22,0);
      transition:500ms;
      transform-origin: 50% 50%;
    }
    svg#play:hover #triangle {
      fill:#25A5CE;
      transform-origin: 50% 50%;
    }
  }
}

.site-sections {
  &__row{
    justify-content: space-between;
  }
  &__item {
    flex: 0 0 49%;
    padding-left: 30px;
  }
}

.site-section {
  @include font-bold;
  height: 300px;
  &__list {
    @include icon;
    margin-bottom: 10px;
  }
  &__map {
    @include icon;
    &:before {
      background-image: url('/images/map-marker.svg');
      height: 26px;
    }
  }
  &_hotel {
    border: 1px solid #e46000;
    box-sizing: border-box;
    background: url(/images/hotel.jpg) no-repeat center right;
  }
  &_kafe {
    border: 1px solid #90309F;
    box-sizing: border-box;
    background: url(/images/kafe.jpg) no-repeat center right;
	}
}

.place-wrapper {
  margin-top: 30px;
}

.place {
  border: 1px solid $second-base-color;
  box-sizing: border-box;
  &__info {
    padding: 0 25px;
  }
}

.registration-wrapper {
  .container {
    background: url(/images/registration.jpg) no-repeat center right;
  }
}

.registration {
  line-height: 22px;
  &__item {
    display: flex;
  }
  &__title {
    min-width: 130px;
    @include font-bold;
  }
}

.price-wrapper {
  padding-top: 40px;
}

.price {
  justify-content: space-between;
  &__item {
    flex: 0 0 49%;
    padding: 40px;
    color: $base-color;
    background-color: $second-base-color;
    box-sizing: border-box;
  }
  &__sum {
    font-size: 32px;
  }
  &__example {
    @include font-bold;
    padding-top: 20px;
  }
  &__priod {
    @include font-light;
  }
}

.hotels-wrapper,
.cafes-wrapper {
  margin-top: 100px;
  h1 {
    margin: 0;
  }
  .row {
    margin-bottom: 45px;
  }
  .container {
    background: url(/images/hotel-page-bg.jpg) no-repeat bottom right;
  }
}

.cafes-wrapper {
  .container {
    background: url(/images/kafe-page-bg.jpg) no-repeat bottom right;
  }
}

.hotel,
.cafe {
  box-sizing: border-box;
  &__name {
    @include font-bold;
    font-size: 32px;
  }
  &__link,
  &__address,
  &__price {
    @include icon;
    margin-top: 15px;
    &:before {
      background-image: url('/images/link.svg');
    }
  }
  &__price {
    &:before {
      background-image: url('/images/rub.svg');
    }
  }
  &__address {
    &:before {
      background-image: url('/images/map-marker.svg');
      height: 26px;
    }
  }
}

