@import 'variables';
@import 'grid.css';
@import 'helpers.css';
@import 'menu.css';
@import 'footer.css';

@mixin main-padding {
  padding: 40px 0;
}

p, li {
  font-size: 15px;
  color: #535074;
}

body {
  font-family: open sans,sans-serif;
  margin: 0;
}

.main {
  padding-top: 70px;  
}

.speaker {
  @include main-padding;
  
  h2 {
    color: $dark-font-color;
    font-family: montserrat,sans-serif;
    font-weight: 700;
    font-size: 35px;
  }

  h3 {
    color: $light-font-color;
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
    font-size: 30px;
  }

  .speaker-img {
    position: relative;
    margin: 30px;
    display: inline-block;
    background-color: $first-color;

    &::before {
      position: absolute;
      left: -31px;
      top: -30px;
      width: 90%;
      height: 92%;
      z-index: -1;
      content: '';
      background-color: $first-color;
    }

    &::after{
      position: absolute;
      right: -31px;
      bottom: -30px;
      width: 90%;
      height: 92%;
      z-index: -1;
      content: '';
      background-color: $first-color;
    }

    img {
      border: 8px solid $base-color;
      height: 350px;
    }
  }
}

.intro {
  width: 100%;
  height: 90vh;
  background: url(/images/bg.jpg) no-repeat center center fixed;
  background-color: $first-color;

  h1 {
    font-size: 48px;
    text-shadow: -1px 0 $base-color, 0 1px $base-color, 1px 0 $dark, 0 -1px $dark;
  }

  h2 {
    font-size: 46px;
    color: $button-primary-color;
    text-shadow: -1px 0 $base-color, 0 1px $base-color, 1px 0 $base-color, 0 -1px $base-color;
  }

  h3 {
    font-size: 46px;
    text-shadow: -1px 0 $base-color, 0 1px $base-color, 1px 0 $dark, 0 -1px $dark;
  }

  .btn-intro {
    text-decoration: none;
    font-family: montserrat,sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 34px;
    border-radius: 4px;
    background: $button-primary-color;
    color: $base-color;
    &:hover {
      background: $button-second-color;
    }
  }
}

.info-p {
	color: $light-font-color;
	font-weight: 400;
	font-size: 22px;
	font-style: italic;
}

.section-bg {
  @include main-padding;
  background: $first-color;
}

.section-second {
  @include main-padding;
}

.section-bg-second {
  background-color: $second-bg-color;
  background-size: cover;
  @include main-padding;
}

.registration-title {
  color: $base-color;
  font-size: 28px;
  font-weight: 700;
}

.registration-text {
  color: $base-color;
}

.registration-btn-container {
  display: flex;
  align-items: center;
}

.registration-btn {
  font-family: montserrat,sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  margin: 10px;
  border: 3px solid $base-color;
  color: $base-color;
  text-decoration: none;
}

.themes {
  h4 {
    font-size: 50px;
    color: $dark-font-color;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: montserrat,sans-serif;
  }

  ul {
    font-size: 40px;
    list-style: none;
    margin-bottom: 100px;
    text-align: center;
  }
}

.price {
  .card {
    background: $base-color;
    margin: 0 35px;
    padding: 50px 60px;
    h3 {
      font-size: 64px;
      margin-bottom: 0;
      color: #535074;
      font-family: montserrat,sans-serif;
      font-weight: 400;
      margin: 0 0 20px;
      padding: 0;
      .currency {
        font-size: 30px;
      }
      .period {
        font-size: 25px;
        color: $second-color;
      }
    }
  }
}

