$base-color: #fff;
$dark: #000; 
$first-color: #f5f8fd;
$second-color: #8582a8; 

$second-bg-color: #2d2b46;

$dark-font-color: #413e66;
$light-font-color: #696592;

$button-primary-color: #1bb1dc;
$button-second-color: #0a98c0;

