$base-color: #fff;
$second-base-color: #25A5CE;

$dark: #000; 
$first-color: #f5f8fd;
$second-color: #8582a8; 

$second-bg-color: #2d2b46;

$dark-font-color: #413e66;
$light-font-color: #696592;

$button-primary-color: #1bb1dc;
$button-second-color: #0a98c0;

@mixin main-padding {
  padding: 40px 0;
}

@mixin font-light {
  font-family: 'Museo Sans Cyrl 300', sans-serif;
}

@mixin font-medium {
  font-family: 'Museo Sans Cyrl 500', sans-serif;
}

@mixin font-bold {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
}

@mixin icon {
  &:before {
    content: '';
    display: block;
    background-image: url('/images/list.svg');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 0 0;
  }
}
