---
title: Регистрация 
---

h1 Регистрация
/ до 1 мая: 1500 руб.
/ c 1 мая: 2000 руб.
/ Счет казначея: 4276 5500 4880 2550
/ Получатель: Иван Юрьевич О.

/ Для того, чтобы сделать пожертвование, пожалуйста, укажите в строке «сообщение получателю»:

/ В назначении платежа ОБЯЗАТЕЛЬНО напишите слово «ПОЖЕРТВОВАНИЕ»
/ Фамилию и первую букву имени жертвователя
/ Город
/ Группа АА (если есть домашняя)
/ Образец
/ ПОЖЕРТВОВАНИЕ НА ПРОВЕДЕНИЕ СЕМИНАРА, ПРЕДРЕГИСТРАЦИЯ, Иванов В., г. Тверь, группа АА "Как это видит Билл"
/ (1500 рублей в случае перечисленя суммы пожертвования до 1 мая 2020 года)

/ ПОЖЕРТВОВАНИЕ НА ПРОВЕДЕНИЕ СЕМИНАРА, РЕГИСТРАЦИЯ, Иванов В., г. Тверь, группа АА "Как это видит Билл"
/ (2000 рублей в случае перечисленя суммы пожертвования после 1 мая 2020 года)

/ также можно сделать пожертвование «в фонд новичка».
