---
title: "Семинар АА 1-4 мая 2020 г. г.Санкт-Петербург Спикер: Майк Л. Переводчик: Григорий Т."
---

h1 РАБОЧИЙ ЦЕХ АА
h2 1-4 мая 2020 г.
h3 Санкт-Петербург

p Спикер: Майк Л. (35 лет трезвости)
p Переводчик: Григорий Т.

h4 Темы:

ul
 li Большая Книга (12 шагов)
 li Традиции в семье и в жизни
