---
title: Welcome
---

h1 Hello
/ РАБОЧИЙ ЦЕХ АА
/ 1-4 мая 2020 г.
/ Санкт-Петербург
/ Спикер: Майк Л. (35 лет трезвости)
/ Переводчик: Григорий Т.
/ Темы
/ Большая Книга (12 шагов)
/ Традиции в семье и в жизни
